{% extends 'core/layout.html' %} 
{% load static %}   

{% block cssPath %} 
<link rel="stylesheet" href="{% static 'store/productTemplate.css' %}"  type="text/css"/>
{% endblock cssPath %}

{% if productFound %}

    {% block title %} {{product.productName}} {% endblock title%}

    <!--ALERT NOTIFICATION-->
    {% block alertMsg %}
        {% include 'core/messages.html' %}
    {% endblock alertMsg %}
    
    {% block body %} 
    <!--<div class="container">-->
    <div class="infoContainer">
    <div class="row">
    <div class="col-md-3 register-left my-auto">
        <div class="pictures">
            <img src="{{product.image.url}}"  alt="Product Image" width="500" height="auto" />
        </div>
    </div>
        
    <div class="col-md-9 register-right">
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div id="littlePadding" class="col">
        <font style="color:black" align="center">

        <div class="productDescription">
            
            <div class="productName">
                <h1>{{ product.productName }}</h1>
            </div>

            <div class="price">
                <p>Puja más alta: ${{ product.currentBid}}</p>
            </div>

            <div class="description">
                <h3>Descripción:</h3>
                <p>{{ product.description }}</p>
            </div>

            <div class="category">
                <h3>Categoría: {{ product.category }} <h3>
            </div>

            <div class="condition">
                <h3>Condición:</h3>
                <h3 id="yeetCondition"> {{product.condition}}</h3>
                <!--<h3 for="id_condition"> a {{ product.condition }}</h3>-->
            </div>
            <p for="id_prueba">Tu puja debe ser mayor a la puja más alta!</p> 
            
            <div class="form">
                <form method="POST" >
                    {% csrf_token %}
                    {{form.as_p}}
                    <button id="buttonLogin" type="submit" name="BidProduct">PUJAR!</button>
                     <!--"submitBtn"-->
                </form>
            </div>
        </font>
        </div> 
    </div>
    </div>
    </div>
    </div>
    </div>  
    </div>
    <script src="{% static 'store/bidLabel.js'%}"></script>
    {% endblock body %}
{% else %}
    <h1>Product no encontrado!</h1>
{% endif %}
 

