{% extends 'core/layout.html' %}

{% block title %}
    Carrito
{% endblock title %}

{% if user.is_authenticated %}
  {% block body %}
    <!--Mostrar el carrito de compras xd-->
        <main class="pt-5">
          <div class="container" style="max-width: 1000px">
            <div class="col-12">
              <h1 class="h2">Tu Carrito</h1>
            </div>
            <div class="col-12">
              <p>Administra tus <b>artículos</b> de tu carrito</p>
            </div>
            <hr />
          </div>
          <div class="container" style="max-width: 1000px">
            <div class="row g-3">
              <div class="col-12 bg-light p-3 d-flex justify-content-between">
                <div class="d-flex d-flex-inline">
                  <div class="pe-3">Tu orden</div>
                </div>
                <div class="text-end">
                  <div class="">Sub Total: <span class="fw-bold">$</span><div id="subtotal" class="d-inline-flex fw-bold">{{cart.get_subtotal_price}}</div></div>
                  <div id="">Envío <span class="small">(Entrega al día siguiente)</span>: <span class="fw-bold">Gratis!</span></div>
                  <div class="pt-2">Total a pagar: <span class="fw-bold h5">$</span><span id="total" class="fw-bold h5">{{cart.get_total_price}}</span></div>
                  
                </div>
              </div>
              <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
                <div class="d-grid gap-2 ">
                  <a role="button" href="{% url 'core:index' %}" class="btn btn-success fw-bold" type="button">Checkout</a>
                  
                </div>
              </div>
              <div class="col-md-7 col-lg-8 p-0">
                {% for item in cart %}
              {% with product=item.product %}<!--Importante para mostrar la información de los productos-->
              <div data-index="{{product.id}}" class="row mb-4 border product-item">
                <div class="col-md-3 col-lg-2 order-md-first bg-light">
                  <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ product.image.url }}">
                </div>
                <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                  <a href="http://127.0.0.1:8000/products/stock/{{product.id}}" class="text-decoration-none text-reset">
                    <h1 class="h5 pt-2">{{ product.productName }}</h1>
                  </a>
                  <div class="border">
                    <div class="col border-bottom">
                      <div class="row p-3">
                        <div class="col-6">Unidades: {{item.qty}}</div>
                        <div class="col-6 text-end"><span class="h6 fw-bold">${{ product.price }}</span></div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="row p-3">
                        <div class="col-12">
                          <button type="button" id="delete-button" data-index="{{product.id}}"
                            class="btn btn-outline-secondary btn-sm delete-button">
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endwith %}
              {% endfor %}
              {% for item in biddedProducts  %}
              <div data-index="{{item.id}}" class="row mb-4 border product-item">
                <div class="col-md-3 col-lg-2 order-md-first bg-light">
                  <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ item.product.image.url }}">
                </div>
                <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                  <a href="http://127.0.0.1:8000/products/bid/{{item.product.id}}" class="text-decoration-none text-reset">
                    <h1 class="h5 pt-2">{{ item.product.productName }}</h1>
                  </a>
                  <div class="border">
                    <div class="col border-bottom">
                      <div class="row p-3">
                        <div class="col-6">Artículo de apuesta</div>
                        <div class="col-6 text-end"><span class="h6 fw-bold">
                          {% if item.userBid >= item.product.currentBid %}

                          Eres la puja más alta! con: ${{ item.userBid }}
                          {%else%}
                          No eres la puja más alta, con ${{ item.userBid }}
                          {%endif%}
                        </span></div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="row p-3">
                        <div class="col-12">
                          <a href = "{% url 'cart:deleteBid' item.id %}" class="btn btn-outline-danger btn-sm">Borrar Puja</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              </div>
            </div>            
          </div>
        </main>

          <script>
            $(document).on('click','.delete-button',function(e){
                e.preventDefault();
                var prodid = $(this).data('index')
                $.ajax({
                    type:'POST',
                    url:'{% url "cart:cartDelete" %}',
                    data:{
                        productid:$(this).data('index'),
                        csrfmiddlewaretoken:"{{csrf_token}}",
                        action:'post'
                    },
                    success: function(json){
                        $('.product-item[data-index="'+prodid+'"]').remove();
                        document.getElementById("subtotal").innerHTML = json.subtotal
                    },
                    error: function(xhr,errmsg,err){}
                });
            })
        </script>
        {% endblock body %}
{% else %}
  <h1>Necesitas tener iniciada sesión</h1>
{% endif %}
