{% extends 'core/layout.html' %} 
{% load static %}   

{% block cssPath %} 
<link rel="stylesheet" href="{% static 'store/productTemplate.css' %}"  type="text/css"/>
{% endblock cssPath %}

{% if productFound %}

    {% block title %} {{product.productName}} {% endblock title%}

    {% block body %} 
    <div class="container">
        
        <div class="pictures">
            <img src=""  alt="Product Image" width="500" height="500" />
        </div>
        
        <div class="productDescription">
            
            <div class="productName">
                <h1>Producto: {{ product.productName }}</h1>
            </div>

            <div class="description">
                <h3>Descripción</h3>
                <p>{{ product.description }}</p>
            </div>

            <div class="category">
                <h3>Categoría: {{ product.category }} <h3>
            </div>

            <div class="price">
                <h3>Precio: {{ product.price }} <h3>
            </div>

            <div class="inventory">
                <h3>Disponibilidad: {{ product.inventory }} <h3>
            </div>
            
            <div class="buy">
                <form method="POST" >
                    {% csrf_token %}
                    <button id="submitBtn" type="submit" name="BidProduct">Agregar al carrito!</button>
                </form>
            </div>

        </div>   
    </div>
    {% endblock body %}
{% else %}
    <h1>Product no encontrado!</h1>
{% endif %}
 