{% extends 'core/layout.html' %} 
{% load static %}   

{% block cssPath %} 
<link rel="stylesheet" href="{% static 'store/productTemplate.css' %}"  type="text/css"/>
{% endblock cssPath %}

{% if productFound %}

    {% block title %} {{product.productName}} {% endblock title%}

    {% block body %} 
    <!--<div class="container">-->
    <div class="infoContainer">
    <div class="row">
        <div class="col-md-3 register-left my-auto">   
            <div class="pictures">
                <img src="{{product.image.url}}"  alt="Product Image" width="500" height="auto" />
            </div>
        </div>
        
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div id="littlePadding" class="col">
                            <font style="color:black" align="center">
                        
                            <div class="productDescription">
                                
                                <div class="productName">
                                    <h1>{{ product.productName }}</h1>
                                </div>

                                <div class="description">
                                    <h3>Descripción:</h3>
                                    <p>{{ product.description }}</p>
                                </div>

                                <div class="category">
                                    <h3>Categoría: {{ product.category }} <h3>
                                </div>

                                <div class="price">
                                    <h3>Precio: {{ product.price }} <h3>
                                </div>

                                <div class="inventory">
                                    <h3>Disponibilidad: {{ product.inventory }} <h3>
                                </div>
                                
                                <div class="buy">
                                    <form method="POST" >
                                        {% csrf_token %}
                                        <button id="add-button" value={{product.id}} type="submit" name="BidProduct">Agregar al carrito!</button>
                                    </form>
                                </div>
                            </font>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <script>
        $(document).on('click','#add-button',function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "cart:cartAdd" %}',
                data:{
                    productid:$('#add-button').val(),
                    csrfmiddlewaretoken:"{{csrf_token}}",
                    action:'post'
                },
                success: function(json){
                    
                },
                error: function(xhr,errmsg,err){}
            });
        })
    </script>

    {% endblock body %}
{% else %}
    <h1>Product no encontrado!</h1>
{% endif %}
 