{% extends 'core/layout.html' %}

{% load static %}

{% block cssPath %}
    <link rel="stylesheet" href="{% static 'store/bidUpload.css' %}"  type="text/css"/>
{% endblock cssPath %}

{% block title %}
    Subir Producto
{% endblock title %}

<!--ALERT NOTIFICATION-->
{% block alertMsg %}
    {% include 'core/messages.html' %}
{% endblock alertMsg %}

{% block body %}
    <!--Form para subir un producto-->
    <div class="container register">
        <div class="blankspace1">
        </div>
        <div class="form-title">
            Sube un producto
        </div>
        <div class="form-product">
            <div class="form">
                <form method="POST" action="{% url 'store:uploadBidProduct' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button id="submitBtn" type="submit" name="UploadProduct">Subir Producto</button>
                    <button id="submitBtn" type="submit" name="Cancel">Cancelar</button>
                </form>
            </div>
        </div>
        <div class="blankspace2">
        </div>
        <script src="{% static 'store/buttons1.js'%}"></script>
        <script src="{% static 'store/uploadBid.js'%}"></script>
    </div>
{% endblock body %}