.pictures, .productDescription {
    /*border: 3px solid lightblue;*/
    margin: 0.5em;
}

.productName, .price, .description, .category, .condition {
    padding: 0.2em;
}

.bid {
    text-align: center;
}

.bidBtn {
    background-color: #149414;
    padding: 1em;
}

@media (max-width: 860px) {
    .container{
        text-align: center;
    }
}
@media (min-width: 860px) {
    .container {
        max-width: 1100px;
        margin: auto;
        
        padding: 0 2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}