{% extends 'core/layout.html' %}
{% load static %}

{% block cssPath %} 
  <link rel="stylesheet" href="{% static 'core/styleFAQ.css' %}"  type="text/css"/>
{% endblock cssPath %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

{% block title %}
    INDEX
{% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block body %}
      <div class="container">
        <div class="header-title">
          <div class="header-style">
            <h1>Preguntas Frecuentes:</h1>
          </div>
        </div>
        
        <!--<div class="FAQ-container">
          <div class="faq-list">
            <ul class="faq-questions">
              <li class="faq-expandable2">
                <button type="button" class="faq-button">¿Cómo agrego artículos a mi carrito?</button>
                <div class="faq-answer">
                  <p>Una vex hayas iniciado sesión, da clic en cualquier artículo que desees obtener y luego da clic en Agregar al carrito. ¡Asi de sencillo!
                     Es muy similar a como funcionan las subastas. Al optar por subir tu producto
                     por una puja, los demás usuarios tendrán hasta 24 hrs. para ofertar el mejor precio para tu 
                     producto. Al finalizar el día, el usuario con la mejor propuesta económica se habrá llevado tu producto!.
                  </p>
                </div>
              </li>
              <li class="faq-expandable2">
                <button type="button" class="faq-button">¿Cómo puedo vender mis productos?</button>
                <div class="faq-answer">
                  <p>Haz clic en el apartado "Mi perfil" y busca la opción "Subir un producto".
                     Puedes elegir entre subir un producto con precio fijo o iniciar una puja.
                  </p>
                </div>
              </li>
              <li class="faq-expandable2">
                <button type="button" class="faq-button">¿Qué es una puja?</button>
                <div class="faq-answer">
                  <p>Es muy similar a como funcionan las subastas. Al optar por subir tu producto
                     por una puja, los demás usuarios tendrán hasta 24 hrs. para ofertar el mejor precio para tu 
                     producto. Al finalizar el día, el usuario con la mejor propuesta económica se habrá llevado tu producto!
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>*/ -->
        <!--Section: FAQ-->
<section>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> A simple
        question?</h6>
      <p>
        <strong><u>Absolutely!</u></strong> We work with top payment companies which guarantees
        your
        safety and
        security. All billing information is stored on our payment processing partner.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> A question
        that
        is longer then the previous one?</h6>
      <p>
        <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
        your
        account. Once the subscription is
        cancelled, you will not be charged next month.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> A simple
        question?
      </h6>
      <p>
        Currently, we only offer monthly subscription. You can upgrade or cancel your monthly
        account at any time with no further obligation.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> A simple
        question?
      </h6>
      <p>
        Yes. Go to the billing section of your dashboard and update your payment information.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> A simple
        question?
      </h6>
      <p><strong><u>Unfortunately no</u>.</strong> We do not issue full or partial refunds for any
        reason.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> Another
        question that is longer than usual</h6>
      <p>
        Of course! We’re happy to offer a free plan to anyone who wants to try our service.
      </p>
    </div>
  </div>
</section>
<!--Section: FAQ-->
      </div>
</div>
{% endblock body %}