{% extends 'core/layout.html' %}
{% load static %}

{% block cssPath %} 
  <link rel="stylesheet" href="{% static 'core/styleFAQ.css' %}"  type="text/css"/>
{% endblock cssPath %}

{% block title %}
    INDEX
{% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block body %}
      <div class="container">
        <div class="header-title">
          <div class="header-style">
            <h1>Preguntas Frecuentes:</h1>
          </div>
        </div>
        <div class="FAQ-container">
          <div class="faq-list">
            <ul class="faq-questions">
              <li class="faq-expandable2">
                <button type="button" class="faq-button">¿Cómo agrego artículos a mi carrito?</button>
                <div class="faq-answer">
                  <p>Una vex hayas iniciado sesión, da clic en cualquier artículo que desees obtener y luego da clic en Agregar al carrito. ¡Asi de sencillo!
                     Es muy similar a como funcionan las subastas. Al optar por subir tu producto
                     por una puja, los demás usuarios tendrán hasta 24 hrs. para ofertar el mejor precio para tu 
                     producto. Al finalizar el día, el usuario con la mejor propuesta económica se habrá llevado tu producto!.
                  </p>
                </div>
              </li>
              <li class="faq-expandable2">
                <button type="button" class="faq-button">¿Cómo puedo vender mis productos?</button>
                <div class="faq-answer">
                  <p>Haz clic en el apartado "Mi perfil" y busca la opción "Subir un producto".
                     Puedes elegir entre subir un producto con precio fijo o iniciar una puja.
                  </p>
                </div>
              </li>
              <li class="faq-expandable2">
                <button type="button" class="faq-button">¿Qué es una puja?</button>
                <div class="faq-answer">
                  <p>Es muy similar a como funcionan las subastas. Al optar por subir tu producto
                     por una puja, los demás usuarios tendrán hasta 24 hrs. para ofertar el mejor precio para tu 
                     producto. Al finalizar el día, el usuario con la mejor propuesta económica se habrá llevado tu producto!
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <script src="{% static 'core/buttons.js'%}"></script>
      </div>
{% endblock body %}