{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'core/styleLayout.css' %}"  type="text/css"/>
    {% block cssPath %}{% endblock cssPath %}

  </head>
  <body>
    <header>
      <a href="{% url 'core:index' %}" class="enlace">
          <img src="{% static 'store/logo.png' %}"  alt="logo" class="logo">
      </a>
      <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <span class="material-icons-outlined">
            menu
          </span>
        </label>
        
        <ul class="nav_links">
          <li><a href="{% url 'store:productListing' %}">Product Listing</a></li>
          <li><a href="{% url 'store:categories' %}">Categories</a></li>
          <li><a href="#">About</a></li><!--Tal vez ponerla en un footer-->
          <!--Una vez teniendo los datos poner que si iniciado sesion accede a "PERFIL"
          <li><a href="#">Profile</a></li>
          <li><a href="#">Cart </a></li> Tambien el carrito xd, o podemos que si pueda 
          guardar cosas pero nos debemos de apollar de las cookies de la pagina web
          -->
        </ul>
        <div class="buttons">
          {% if user.is_authenticated %}
            <a class="login" href="{% url 'users:logout' %}"><button>Log out</button></a>
            <a class="signup" href="{% url 'users:myProfile' %}"><button>My Profile</button></a>
          {% else %}
            <a class="login" href="{% url 'users:loginV' %}"><button>Log in</button></a>
            <a class="signup" href="{% url 'users:signup' %}"><button>Sign up</button></a>
          {% endif %}
        </div>
      </nav>
    </header>
    <div class="main">{% block body %} {% endblock body %}</div>

    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>Any suggestions? Tell Us!</h3>
            <p class="footer-links">
                <i>Our e-mail</i>
                |
                <i>Call us!</i>
                |
                <i>Text us ;)</i>
            </p>

            <p class="footer-Copyright">Copyright &copy; 2021<br>Todos los derechos reservados</br></p>
        </div>

        <div class="footer-center">
            <div>
                <h3>More About Us</h3>
                <p>kjasdkjakdajdksadjakdjakdaksadlkdlakdla<br>
                jsdajdksajkldjaldkajdkajdakdajkldakjd</br></p>
            </div>

            <div class="footer-icons">
                <a href="{% url 'core:index' %}" class="social">
                    <img src="{% static 'store/fb.png' %}"  alt="socialImg" class="socialImg">
                </a>
                <a href="{% url 'core:index' %}" class="social">
                    <img src="{% static 'store/insta.png' %}"  alt="socialImg" class="socialImg">
                </a>
                <a href="{% url 'core:index' %}" class="social">
                    <img src="{% static 'store/twit.png' %}"  alt="socialImg" class="socialImg">
                 </a>
            </div>

        </div>

        <div class="footer-right">
            <h3>FAQ</h3>
            <i>¿Prueba dedakjdkajdklsad?</i>
            <br></br>
            <i>¿Prueba dedakjdkajdklsad?</i>
            <br></br>
            <i>¿Prueba dedakjdkajdklsad?</i>
        </div>
    </footer>
  </body>
</html>
