{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'core/styleLayout.css' %}"  type="text/css"/>
    {% block cssPath %}{% endblock cssPath %}

  </head>
  <body>
    <header>
      <a href="{% url 'index' %}" class="enlace">
          <img src="{% static 'store/logo.png' %}"  alt="logo" class="logo">
      </a>
      <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <span class="material-icons-outlined">
            menu
          </span>
        </label>
        
        <ul class="nav_links">
          <li><a href="{% url 'store:productListing' %}">Product Listing</a></li>
          <li><a href="{% url 'store:categories' %}">Categories</a></li>
          <li><a href="#">About</a></li><!--Tal vez ponerla en un footer-->
          <!--Una vez teniendo los datos poner que si iniciado sesion accede a "PERFIL"
          <li><a href="#">Profile</a></li>
          <li><a href="#">Cart </a></li> Tambien el carrito xd, o podemos que si pueda 
          guardar cosas pero nos debemos de apollar de las cookies de la pagina web
          -->
        </ul>
        <div class="buttons">
          <a class="login" href="{% url 'users:loginV' %}"><button>Log in</button></a>
          <a class="signup" href="#"><button>Sign up</button></a>
        </div>
      </nav>
    </header>
    <div class="main">{% block body %} {% endblock body %}</div>

    <footer>
        <div class="navFooter">
            <ul>
                <li class="head">Any Suggestions? Tell us!</li>
                <div class="content">
                    <li>Our e-mail</li>
                    <li>Call us!</li>
                    <li>Text me ;)</li>
                </div>
            </ul>
        </div>
    
        <div class="navFooter">
            <ul>
                <li class="head">Follow us</li>
                <div class="content">
                    <li>
                        <a href="{% url 'index' %}" class="social">
                            <img src="{% static 'store/fb.png' %}"  alt="socialImg" class="socialImg">
                        </a>
                         Facebook
                    </li>
                    <li>
                        <a href="{% url 'index' %}" class="social">
                            <img src="{% static 'store/insta.png' %}"  alt="socialImg" class="socialImg">
                        </a>
                        Instagram
                    </li>
                    <li>                       
                        <a href="{% url 'index' %}" class="social">
                            <img src="{% static 'store/twit.png' %}"  alt="socialImg" class="socialImg">
                        </a>
                        Twitter
                    </li>
                </div>
            </ul>
        </div>
    
        <div class="navFooter">
            <ul>
                <li class="head">More about us</li>
                <div class="content">
                    <p>
                    Hola amigos. Como estamos jskaja. Los creadores
                    De esta pagina están bien mec0s sinceramente
                    </p>
                </div>
            </ul>
        </div>
    
        <div class="navFooter">
            <ul>
                <li class="head">Boring stuff</li>
                <div class="content">
                    <p>
                    Copyright &copy; 2021 
                    Todos los derechos reservados
                    </p>
                </div>
            </ul>
        </div>

        <div class="navFooter">
            <ul>
                <li class="head">FAQ</li>
            </ul>
        </div>
    </footer>
  </body>
</html>
