/*FAQ style*/

.container {
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/*Title CSS */

.header-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-style {
    font-size: 1.125rem;
    line-height: 1.667;
}

.header-style h1 {
    text-align: center;
    color: rgb(153, 143, 129);
}

/*FAQ-container*/

.FAQ-container {
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.faq-list {
    background: #b6a5a5;
}

.faq-questions {
    list-style-type: none;
    padding-left: 0px;
}

.faq-expandable2 {
    border-top: solid 1px rgb(112, 104, 93);
    padding-bottom: 10px;
    padding-top: 10px;
}

.faq-button:hover {
    background: #becccc;
}

.faq-button {
    border-style: none !important;
    font-size: 16px;
    background-color: #bbc9bb;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border-style: none;
    text-align: center;
    outline: none;
}

.faq-answer {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: transparent;
}


/* RESPONSIVE */