@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

img.socialImg{
    width: 30px;
    padding: none;
}

#navHeader1 {
    background: #14be91;
}

#buttonHeader {
    background-color: #32a586;
    color:#0a191f !important;
    border-color:rgb(80, 78, 78) ;
    border: 1px solid #000000;
}

#buttonHeader:hover {
    background-color: #ffd166;
}

#profileButton {
    font-size: 25px;
    color: #000000;
}

.nav-link {
    font-size: 26px;
    color: #000000;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*nav{
    background-color: #06d6a0;/*#b2ff9e;
    height: 67px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.enlace{
    position: absolute;
    padding: 3px 50px;
}*/
.logo{
    height: 60px;
}
/*
nav ul{
    float: left;
    margin-right: 0px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #3C1642;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

li a.active, li a:hover{
    background: #ffd166;/*#1DD3B0;
    transition: .5s;
}
button{
    padding: 9px 25px;
    border: none;
    border-radius: 25px;
    background-color: #ef476f;/*rgba(0,136,169, 1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: #ffd166;/*rgba(0,136,169, 0.6);
}
.checkbtn{
    font-size: 30px;
    color: #086375;
    float: right;
    line-height: 67px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}*/

#iconImg {
    text-align: center;
    
}

#footer-icons a {
    padding-right: 20px;
    text-decoration: none;
    color: #ffd166;
}

#FAQ-Support {
    padding-top: 35px;
}

#FAQ-link {
    vertical-align: middle;
    text-decoration: none;
    color: #ffd166;
    line-height: 24px;
}

.page-footer {
    padding-top: 15px;
    color: #ffd166;
    background: rgba(1, 31, 46, 0.75);
}

#copyright-id {
    padding-top: 0px !important;
    background: #082a35;
}


/**{
    font-family: 'Lato', sans-serif;
}
header{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
  min-height: 100vh; 
  margin: 0; 
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #dadada;;
}
/*footer*/
/*footer {
    position: fixed;
    bottom: 0;
}

/* @media (max-height: 880px) {
    footer {position: static; }
}

.footer-distributed {
  /*background: rgba(1, 31, 46, 0.75);
  background: #073b4c;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  /*padding: 50px 50px 60px 100px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 5px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed .footer-left .footer-links {
    padding-right: 20px;
    text-align: center;
}

.footer-left .footer-Copyright {
    text-align: center;
    padding-right: 40px;
}

.footer-distributed h3 {
    font-size: 20px;
    height: 15px;
    padding-left: 40px;
    padding-bottom: 15px;
    color: #ffd166;
    margin: 0px;
}

.footer-distributed p {
    color: #ffd166;
    font-size: 16px;

}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-center .footer-icons {
    margin-top: 25px;
    padding-left: 60px;
}

.footer-center .footer-icons a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    padding-left: 10px;
}


.footer-distributed .footer-right {
    width: 20%;
}

.footer-right a {
    color: #FFFFFF;
     text-decoration: none;
}

.footer-right p {
    color:#ffd166;
    font-size: 20px;
    font-weight:bold;
    padding-bottom: 40px
}
/*
@media (max-width: 880px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-left p {
        padding-left: 40px;
    }

    .footer-distributed .footer-center i {
        margin-left: 0px;
    }

    .footer-right i {
        padding-right: 20px;
    }

    .footer-center .footer-icons {
        padding-right: 70px;
    }

    .footer-distributed h3 {
        padding-right: 40px;
    }
}*/

/*demas contenido del layout
img.socialImg{
  width: 30px;
  padding: none;
}

nav{
    background-color: #06d6a0;/*#b2ff9e;
    height: 67px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.enlace{
    position: absolute;
    padding: 3px 50px;
}
.logo{
    height: 60px;
}
nav ul{
    float: left;
    margin-right: 0px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #3C1642;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

li a.active, li a:hover{
    background: #ffd166;/*#1DD3B0;
    transition: .5s;
}
button{
    padding: 9px 25px;
    border: none;
    border-radius: 25px;
    background-color: #ef476f;/*rgba(0,136,169, 1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: #ffd166;/*rgba(0,136,169, 0.6);
}
.checkbtn{
    font-size: 30px;
    color: #086375;
    float: right;
    line-height: 67px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

#iconImg {
    text-align: center;
    
}


/*Para que se ajuste al tamanno de pantalla

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #086375;
        top: 67px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 28px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}