@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

img.socialImg{
    width: 30px;
    padding: none;
}

#navHeader1 {
    background: #14be91;
}

#buttonHeader {
    background-color: #32a586;
    color:#0a191f !important;
    border-color:rgb(80, 78, 78) ;
    border: 1px solid #000000;
}

#buttonHeader:hover {
    background-color: #ffd166;
}

#profileButton {
    font-size: 25px;
    color: #000000;
}

.nav-link {
    font-size: 26px;
    color: #000000;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#iconImg {
    text-align: center;
    
}

#footer-icons a {
    padding-right: 20px;
    text-decoration: none;
    color: #ffd166;
}

#FAQ-Support {
    padding-top: 35px;
}

#FAQ-link {
    vertical-align: middle;
    text-decoration: none;
    color: #ffd166;
    line-height: 24px;
}

.page-footer {
    padding-top: 15px;
    color: #ffd166;
    background: rgba(1, 31, 46, 0.75);
}

#copyright-id {
    padding-top: 0px !important;
    background: #082a35;
}

.logo{
    height: 40px;
}