{% extends 'core/layout.html' %} 
{% load static %}   

{% block cssPath %} 
    <link rel="stylesheet" href="{% static 'users/addMoney.css' %}"  type="text/css"/>
{% endblock cssPath %}

{% block title %}Configuracion{% endblock title%}
    
{% block body %}
    <p><h1 align="center">Añade créditos a tu cuenta</h1></p>
    <p style="color:#ffbf00" align="center">Tu dinero actual: {{user.money}}</p>
                <div class="img-logo">
                    <span class="logo-circle">
                        <img id="logo2" src="{% static 'store/logo.png' %}" alt="PULGAPP">                        
                    </span>
                </div>
    <div align="center" class="form">
        <form method="POST" action="{% url 'users:addMoney' %}" >
            {% csrf_token %}
            {{form.as_p}}
            <button id="submitBtn" type="submit" name="UpdateMoney">Añadir dinero</button>
            <button id="submitBtn" type="submit" name="Cancel">Cancelar</button>
        </form>
    </div>
{% endblock body %}