{% extends 'core/layout.html' %} 
{% load static %}   

{% block cssPath %} 
<link rel="stylesheet" href="{% static 'store/productTemplate.css' %}"  type="text/css"/>
{% endblock cssPath %}

    {% block title %} Información de orden {% endblock title%}

    {% block body %} 
    <div class="infoContainer">
    <div class="row">
        <div class="col-md-3 register-left my-auto">   
            <div class="pictures">
                <img src="{{product.image.url}}"  alt="Product Image" width="500" height="500" />
            </div>
        </div>
        
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div id="littlePadding" class="col">
                            <font style="color:black" align="center">
                        
                            <div class="productDescription">
                                <div class="productName">
                                    <h1>{{ product.productName }}</h1>
                                </div>
                                <div class="description">
                                    <h3>Descripción:</h3>
                                    <p>{{ product.description }}</p>
                                </div>
                                <div class="price">
                                    <h3>A pagar: ${{ product.currentBid }} <h3>
                                </div>
                                <div class="email">
                                    <h3>Contactar con el vendedor a: {{ product.seller.email }} <h3>
                                </div>
                            </font>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div> 
    {% endblock body %}