{% extends 'core/layout.html' %} 
{% load static %}   

{% block cssPath %} 
    <link rel="stylesheet" href="{% static 'users/addMoney.css' %}"  type="text/css"/>
{% endblock cssPath %}

{% block title %}Configuracion{% endblock title%}
    
{% block body %}
    <h1>Eliminar cuenta</h1>
    <p>¿Estás seguro de hacerlo? :(</p>
    <div class="form">
        <form method="POST" action="{% url 'users:deleteUser' %}" >
            {% csrf_token %}
            {{form.as_p}}
            <button id="submitBtn" type="submit" name="delete">Adios!</button>
            <button id="submitBtn" type="submit" name="Cancel">Cancelar</button>
        </form>
    </div>
{% endblock body %}