{% extends 'core/layout.html' %} 
{% load static %}   

{% block cssPath %} 
    <link rel="stylesheet" href="{% static 'store/productUpload.css' %}"  type="text/css"/>
{% endblock cssPath %}

{% block title %}Configuracion{% endblock title%}
    
{% block body %}
<div class="container upload-form">
            <div class="product-title">
                <h1>Eliminar cuenta</h1>
            </div>
    <p><center>¿Estás seguro de hacerlo? :(</p>
    <div class="form">
        <form method="POST" action="{% url 'users:deleteUser' %}" >
            {% csrf_token %}
            {{form.as_p}}
            <button id="bidButton" type="submit" name="delete">Adios!</button>
            <button id="bidButton" type="submit" name="Cancel">Cancelar</button>
        </form>
    </div>
</div>
{% endblock body %}