{% extends 'core/layout.html' %}
{% load static %}

{% block cssPath %} 
    <link rel="stylesheet" href="{% static 'users/formStyle.css' %}"  type="text/css"/>
{% endblock cssPath %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% block title %}
    LOGIN
{% endblock title %}

{% block body %}
    {{msg}}
    <div class="container">
        <div class="registration-form">
            <form method = "POST" action="{% url 'users:loginV' %}">
                {% csrf_token %}
                <div class="form-icon">
                    <span><i class="icon icon-user"></i></span>
                </div>
                <div class="form-group">
                    {{form.email}}
                </div>
                <div class="form-group">
                    {{form.password}}
                </div>
                <div class="form-group">
                    <button class="btn btn-block" id="btnSubmit" type="submit" value="Login">Iniciar Sesion</button>
                </div>
            </form>
            <div class="social-media">
                <span id="loginQuestion">¿No estas registrado?</span>
                <br>
                <a href="{% url 'users:signup' %}">
                    <button type="button" class="btn btn-block" id="buttonLogin">Registrate aqui</button>
                </a>
                <!-- <button type="button" class="btn btn-block" id="buttonLogin"><a href="{% url 'users:signup' %}">Registrate aqui</a></button> -->
            </div>
        </div>
    </diV>
    <!--<div class="container-login">
        <div class="wrap-login">
        <form method = "POST" action="{% url 'users:loginV' %}" >
            {% csrf_token %}
            <div class="wrap-login2">
                <span class="welcome-title"> Bienvenido </span>
                <br><br><br>
                <div class="UserEmail">
                    {{form.email}}
                </div>
                <div class="UserPassword">
                    {{form.password}}
                </div>
                <div class="wrap-button">
                    <div class="login-button">
                        <button id="btnSubmit" type="submit" value="Login"> Login</button>
                    </div>
                </div>
                <div class="signup-link">
                    <span class="signup-registry">¿No estas registrado?, </span>
                    <a class="signup-text" href="{% url 'users:signup' %}">¡Registrate aqui!</a>
                </div>
            </div>
        </form>
        </div>
    </div>-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
{% endblock body %}