{% extends 'core/layout.html' %}

{% block title %}
    notificaciones
{% endblock title %}

{% block body %}
    <div class="album py-5 bg-light">
    <div class="container">
    <div class="pb-3 h5">Notificaciones:</div>
    {% for notification in notifications %}
              <div data-index="{{notification.fromUser}}" class="row mb-4 border product-item">
                <div class="col-md-3 col-lg-2 order-md-first bg-light">
                  <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ notification.fromUser.profilePic.url }}">
                </div>
                <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                  <a href="http://127.0.0.1:8000/products/stock/{{product.id}}" class="text-decoration-none text-reset">
                    <h1 class="h5 pt-2">De: {{ notification.fromUser.firstName }}</h1>
                  </a>
                  <div class="border">
                    <div class="col border-bottom">
                      <div class="row p-3">
                        <div class="col-6">Mensaje: </div>
                            <b>{{ notification.message }}</b>
                      </div>
                    </div>
                    <div class="col">
                      <div class="row p-3">
                        <div class="col-12">
                          <a href = "{% url 'users:deleteUserNotification' notification.id %}" class="btn btn-outline-danger btn-sm">Borrar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            </div>
        {% endfor %}

{% for bidNotification in bidNotifications %}
              <div data-index="{{bidNotification.fromBidProduct}}" class="row mb-4 border product-item">
                <div class="col-md-3 col-lg-2 order-md-first bg-light">
                  <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ bidNotification.fromBidProduct.image.url }}">
                </div>
                <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                  <a href="http://127.0.0.1:8000/products/stock/{{product.id}}" class="text-decoration-none text-reset">
                    <h1 class="h5 pt-2">De la puja: {{ bidNotification.fromBidProduct.productName }}</h1>
                  </a>
                  <div class="border">
                    <div class="col border-bottom">
                      <div class="row p-3">
                        <div class="col-6">Mensaje: </div>
                            <b>{{ bidNotification.message }}</b>
                      </div>
                    </div>
                    <div class="col">
                      <div class="row p-3">
                        <div class="col-12">
                          <a href = "{% url 'users:deleteBidNotification' bidNotification.id %}" class="btn btn-outline-danger btn-sm">Borrar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}


  {% for systemNotification in systemNotifications %}
              <div data-index="{{ systemNotification.toUser }}" class="row mb-4 border product-item">
                <div class="col-md-3 col-lg-2 order-md-first bg-light">
                  <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ systemNotification.image.url }}">
                </div>
                <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                  <a href="http://127.0.0.1:8000/products/stock/{{product.id}}" class="text-decoration-none text-reset">
                    <h1 class="h5 pt-2">De: PulgApp </h1>
                  </a>
                  <div class="border">
                    <div class="col border-bottom">
                      <div class="row p-3">
                        <div class="col-6">Mensaje: </div>
                            <b>{{ systemNotification.message }}</b>
                      </div>
                    </div>
                    <div class="col">
                      <div class="row p-3">
                        <div class="col-12">
                          <a href = "{% url 'users:deleteSystemNotification' systemNotification.id %}" class="btn btn-outline-danger btn-sm">Borrar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
            </div>
            </div>
        

{% endblock body %}
