{% extends 'core/layout.html' %} 
{% load static %}   

{% block cssPath %} 
<link rel="stylesheet" href="{% static 'users/formStyle.css' %}"  type="text/css"/>
{% endblock cssPath %}

{% block title %}Configuracion{% endblock title%}
    
{% block body %}
<div class="container">
    <h1><center>Modifica tus datos</h1>
    <div class="registration-form">     
    {%if bid.sold%}
    <div>
        <h3>¡El producto ya fue vendido! Ponte en contacto con el ganador a su correo {{email}}</h3>
    </div>
    <button id="submitBtn" type="submit" name="Delete">Eliminar</button>
    {%else%}
    <!--<div class="form">-->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <div class="form-group">
            <button id="btnSubmit" type="submit" name="UpdateProduct">Realizar cambios</button>
            <button id="btnSubmit" type="submit" name="End">Terminar apuesta</button>
            <button id="btnSubmit" type="submit" name="Delete">Eliminar</button>
            <button id="btnSubmit" type="submit" name="Cancel">Cancelar</button>
            </div>
        </form>
    </div>
</div>
    {%endif%}
    <script src="{% static 'users/labels5.js'%}"></script>
{% endblock body %}