.wrap-button {
    width: 50%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}

.login-button {
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: all .4s;
    background: linear-gradient(#a99087, #bd9897);

}

#btnSubmit{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    height: 50px;
    outline: none !important;
    border: none;
    background: 0 0;
    margin: 0;
    color:black;
    width: 100%;
}

.container-login {
    width: 90%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.wrap-login {
    width: 390px;
    background-color: #bea5a5;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.wrap-login2 {
    text-align: center;
}

.welcome-title {
    color: #bebea5; 
    font-size: 50px; 
    text-align: center; 
    display: block;
}

.wrap-login2 input {
    outline: none;
    border: none;
    display: inline-block;
}

.wrap-login2 p {
    color: black;
    /*text-transform: uppercase;*/
    font-size: 35px;
}

.signup-link {
    padding-top: 60px;
    text-align: center;
}

.signup-registry {
    font-size: 18px;
    line-height: 1.4;
    color: #073b4c;
}

/*.signup-link a, a:hover {
    text-decoration: none;
    color: inherit;
}*/

.signup-text {
    font-size: 18px;
    color: #061a20;
}

a {
    margin: 0;
    transition: all .4s;
    touch-action: manipulation;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: none;
    color: #a56e6e
}

#id_email {
    width: 100%;
    font-size: 20px;
    border-bottom: 2px solid #adadad;
    margin-bottom: 25px;
    background: transparent;
}

#id_password {
    width: 100%;
    font-size: 20px;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
    background: transparent;
}


/* INICIO DE ESTILADO PARA EL SIGN UP */
.main {
    box-sizing: border-box;
}

.container-signup {
    text-align: center;
    margin: 1em;
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;    
    margin-left: auto;
}

.signup2 {
    background-color: #c5bcbc;
}

.justify-intro {
    -webkit-box-pack: center !important;
    justify-content: center !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.intro-text {
    text-align: center !important;
    margin-bottom: 0.5rem !important;
}

.intro-text h1 {
    font-size: 40px;
    color: #64575d;
    font-family: 'Lucida Sans';
}

.wrap {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.text-wrap {
    background: #a99087;
    width: 100%;
    text-align: center !important;
    white-space: normal;
    padding: 1rem !important;
    padding-bottom: 11px !important;
    -webkit-box-align: center !important;
    align-items: center !important;

}

.subheader2 {
    padding-right: 40px;
}

.subheader2 h2 {
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.login-button2 {
    border: 1px solid #061a20;
    background: transparent;
    color: #3a778a;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: none;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    text-decoration: none;
}

.subheader2 a:hover {
    background: #073b4c;
    color: wheat;
    border: 1px solid #163d49;
}

.logo-circle {
    display: inline-block;
    height: 110px;
    width: 120px;
    line-height: 60px;
    border-radius: 40px;
    background-color: #a1c0c2;
    text-align: center;

}

.logo2 {
    vertical-align: middle;
    padding-top: 1.5px;
    padding-right: 3px;
    height: 100px;
}

#hint_id_password1 {
    color: rgb(61, 52, 39);
}

.form-master input[type=email] {
    width: 40% !important;
    background: #7fa0aa !important;
    border-bottom: none !important;
    margin-bottom: 5px !important;
    font-size: 14px !important;
    border: none !important;
}

.form-group input { 
    border: none;
}

.form-master {
    height: 100%;
    width: 100%;
    position: relative;
}

/*label[for="id_city"] {
    display: none;
} */

.form-control:focus {
    outline: none;
}

.form-control {
    background: #7fa0aa;
    box-shadow: none;
    font-size: 14px;
}

#hint_id_password1 {
    list-style-type: none !important;
}

#hint_id_password2:before {
    content: "\A";
    white-space: pre;
}

#submitBtn {
    border: none;
    background: #bd7c7c;
    color: #a34a4a;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: none;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    text-decoration: none;
    margin-bottom: 10px
}

#submitBtn:hover {
    background: #af8d8d;
    color: #d34848;
}


/*Responsive prototype  IGNORE */
@media (min-width: 576px) {
    .container-signup {
      max-width: 540px;
     }
}

@media (min-width: 768px) {
    .container {
      max-width: 720px;
    } 
}
@media (min-width: 992px) {
    .container {
      max-width: 960px; 
    }
}
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}