.container {
    /*border: 3px solid blue;*/
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr);
}

.settingsNavBar {
    /*border: 3px solid black;*/
    margin: 0.5em;
    background: #363636;
    color: white;
}

.updateProfile {
    /*border: 3px solid palegreen;*/
    margin: 0.5em;
}

.settingsNavBar h1 {
    text-align: center;
    margin: 1em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    /*border: 3px solid black;*/
}

.settingsNavBar h1:hover {
    transform: scale(1.3);
}

#name {
    transform: none;
    cursor: default;
}

.profilePicture {
    text-align: center;
    margin: 1em;
}

#profileImage {
    border-radius: 50%;
    border: 3px solid black;
}

.updateProfile h2 {
    margin: 1.5em;
}

#myBids, #sellProducts {
    display: none;
}